<nav>
    <div class="menu">
        <ul>
            <li>home</li>
            <li>image</li>
            <li>tutorials</li>
            <li>contact us</li>
            <li>about us</li>
        </ul>
    </div>
</nav>